@model  IEnumerable<Finapp.ViewModels.UserTransactionsViewModel>

@{
    ViewBag.Title = "Index";
}

<br/><br/><br/>
    <div class="text-center">
        <h4>User transactions</h4>
    </div>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    @foreach (var associate in Model)
                    {
                        <th>@associate.AssociateNr</th>
                        <th>Profits/Savings</th>
                    }
                </tr>
            </thead>
            <tbody>
              <tr>
                  @foreach (var associate in Model)
                  {
                      <td>@associate.Username</td>
                      if (true)
                      {
                          break;
                      }
                  }
                  @foreach (var associate in Model)
                  {
                      <td>@associate.Amount PLN</td>
                      <td>@associate.Profits PLN</td>
                  }
              </tr>
            </tbody>
        </table>


