@model IEnumerable<Finapp.ViewModels.RankViewModel>

@{
    ViewBag.Title = "CreditorRank";
}

<br/><br/>
<div class="text-center">
    <h2>Creditors Rank</h2>
</div>


<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Delta ROI</th>
            <th>Count of associations</th>
        </tr>
        @foreach (var creditor in Model)
        {
            <tr>
                <td>
                    @creditor.Username
                </td>
                <td>
                    @creditor.Delta
                </td>
                <td>
                    @creditor.AssociateCounter
                </td>
            </tr>
        }
    </thead>
</table> 