@model Finapp.ViewModels.TestsViewModel
@{
    ViewBag.Title = "Test";
}

<br/><br/><br/>

<table class="table table table-responsive table-striped">
    <thead>
        <tr>
            <th>TEST</th><th>Get Debtors</th><th>Get Creditors</th><th>Assotiations</th><th>UpdateDb</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td><td>@Model.GetDebtorsTime</td><td>@Model.GetCreditorsTime</td><td>@Model.GetAssociationsTime</td><td>@Model.GetDbUpdateTime</td>
        </tr>
    </tbody>
</table>

